<div class="card border-dark mb-3" style="max-width:55rem;height:300px">
    <div class="text-center">
        <div class="card-header" style="background-color:aquamarine">@Time</div>
        <div class="card-body">
            <h5>Wave info</h5>
            <p class="card-text">max wave height: @WaveHeightMax m</p>
            <p class="card-text">wave direction: @WaveDirection º (degrees)</p>
            <p class="card-text">time between waves: @WavePeriodMax seconds</p>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public String Time { get; set; }
    [Parameter]
    public float WaveHeightMax { get; set; }
    [Parameter]
    public int WaveDirection { get; set; }
    [Parameter]
    public float WavePeriodMax { get; set; }
}